@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
  color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: #4dffb5;
  color: #1f2937;
}
html {
  overflow: scroll;
  overflow: overlay;
}

p,
span a {
  font-family: 'Public Sans', 'Inter', sans-serif !important;
}

/* Pour masquer la barre de défilement sur les navigateurs qui ne supportent pas overflow: overlay */
html::-webkit-scrollbar {
  display: none;
}

.box-main {
  width: 62rem !important;
}

@media (max-width: 62rem) {
  .box-main {
    width: 100% !important;
  }
}
