@tailwind base;
@tailwind components;
@tailwind utilities;

@import './node_modules/preline/variants.css';

body {
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
  color: #4dffb5;
  /* background-color: #1E152A; */
}

::selection {
  background-color: #4dffb5;
  color: #1f2937;
}
html {
  overflow: scroll;
  overflow: overlay;
}

/* Pour masquer la barre de défilement sur les navigateurs qui ne supportent pas overflow: overlay */
html::-webkit-scrollbar {
  display: none;
}
